## Import pandas as __pd__

In [1]:
import pandas as pd

## Read the CSV file at __https://raw.githubusercontent.com/ryanleeallred/datasets/master/messy-data.csv__

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/ryanleeallred/datasets/master/messy-data.csv')

## Print out the shape

In [7]:
df.shape

(165, 7)

## Print out first 5 rows

In [4]:
df.head(5)

   alpha  beta  gamma  delta  epsilon zeta eta
0      2    48     12    240      3.0  Yes  AZ
1      3    46     18    230      5.0  NaN  VT
2      4    44     24    220      7.0   No  PA
3      5    42     30    210      9.0  Yes  OK
4      6    44     36    220     11.0  Yes  MD

## Print out the datatypes of the columns

In [8]:
df.dtypes

alpha        int64
beta         int64
gamma        int64
delta        int64
epsilon    float64
zeta        object
eta         object
dtype: object

## Print out summar of stats of the num values

In [9]:
df.describe()

            alpha        beta       gamma       delta     epsilon
count  165.000000  165.000000  165.000000  165.000000  141.000000
mean    46.169697   17.921212  277.018182   89.606061  164.794326
std     24.371521   17.769180  146.229125   88.845900   96.430843
min      2.000000  -11.000000   12.000000  -55.000000    3.000000
25%     28.000000    7.000000  168.000000   35.000000   83.000000
50%     44.000000   15.000000  264.000000   75.000000  163.000000
75%     65.000000   32.000000  390.000000  160.000000  247.000000
max     85.000000   50.000000  510.000000  250.000000  331.000000